@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    font-family: Roboto, serif;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: antiquewhite;
    width: 100%;
    border-bottom: 2px solid lightgray;
}

header > nav {
    padding-left: 1rem;
    width: calc(100vw - 106px - 1rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

header > nav > a {
    color: black;
    text-decoration: none;
    padding-right: 1rem;
}

header > nav > a:hover {
    color: dimgray;
}

header > nav > a:last-child {
    margin-left: auto !important;
}

#logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 106px;
    height: 51px;
    margin: 10px;
    border-radius: 0.4rem;
}

footer{
    position:absolute;
    bottom:0;
    background: antiquewhite;
    border-top: 1px solid lightgray;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

footer > .left{
    margin-left:1rem;
}

footer > .center{

}

footer > .right{
    margin-right:1rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 98%;
    background-color: #3d1e2a;
    height: 3px;
    border-radius: 2px;
}

table {
    border: 1px solid;
}

th, td {
    border: 1px solid;
    padding: 1rem;
    margin: 0;
}